nav.site-menu {
    ul.simple-list {
        li {
            display: inline;
            margin-right: 20px;
            a {
                font-weight: bold;
                text-decoration: none;
                color: #444;
            }

            a:visited {
                color: #444;
            }

            a.active {
                color: red;
            }
        }
    }
}